p {
    margin: 0 0 10px;
    color: white;
}
.headerTop{
    background: #d25513;
}
a {
    color: white;
    text-decoration: none;
}

.img-responsive{
    margin-left: 150px;
    margin-top: 10px;
}


.circle{
    width: 70%;
    margin-left: 55px;
    margin-top: 80px;
    position: relative;
}
.ppp{
    font-size: 20px;
    position: absolute;
}
.elipse{
    width: 25%;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #E7E7E7;
    margin-right: 20px;
}
.navbar-brand > img {
    display: block;
    width: 50%;
}

.servises p{
    color: white;
    font-family: 'PT Sans', sans-serif;
    font-size: 10px;
}
.servises h2{
    font-family: 'Playball', cursive;
    color: white;
}
.servises h3{
    font-family: 'Playball', cursive;
    padding-top: 50px;
    color: white;

}
.servises{
    height: 750px;
    background: #959799;
}
.navodnici {
    position: absolute;
    margin-top: 100px;
}
.krug{
    margin-left: 120px;
    margin-top: 50px;
}
.special p{
    color: black;
    margin-top: 50px;
    font-family: 'Playball', cursive;
}
.special h4{
    margin-top: 50px;
    color: orange;
    font-size: 16px;
}

   .view {
    margin-top: 40px;
    margin-left: 130px;
    width: 110px;
    height: 30px;
    border-radius: 20px;
    background: orange;
    color: white;
    font-size: 12px;
}

.search{
  width: 60%;  
}
