p {
    margin: 0 0 10px;
    color: white;
}
.headerTop{
    background: #d25513;
}
a {
    color: white;
    text-decoration: none;
}

.img-responsive{
    margin-left: 150px;
    margin-top: 10px;
}


.circle{
    width: 70%;
    margin-left: 55px;
    margin-top: 80px;
    position: relative;
}
.ppp{
    font-size: 20px;
    position: absolute;
}
.elipse{
    width: 25%;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #E7E7E7;
    margin-right: 20px;
}
.navbar-brand > img {
    display: block;
    width: 50%;
}

.servises p{
    color: white;
    font-family: 'PT Sans', sans-serif;
    font-size: 10px;
}
.servises h2{
    font-family: 'Playball', cursive;
    color: white;
}
.servises h3{
    font-family: 'Playball', cursive;
    padding-top: 50px;
    color: white;

}
.servises{
    height: 750px;
    background: #959799;
    position: relative;
}
.navodnici {
    position: absolute;
    margin-top: 100px;
}
.krug {
    margin-left: 60px;
    margin-top: 100px;
}
.special p{
    color: #72777b;
    margin-top: 50px;
    font-family: 'PT Sans', sans-serif;
}
.special h4{
    margin-top: 50px;
    color: #d25513;
    font-size: 16px;
}

.special button {
    margin-top: 40px;
    margin-left: 100px;
    width: 150px;
    height: 50px;
    border-radius: 20px;
    background: #d25513;
    color: white;
}

.search{
    width: 60%;  
}
.flow {
    width: 20%;
    position: absolute;
    margin-left: 130px;
}
.arrow{

}
.arrow1{

}
.doubleLine{
    width: 5%;
    margin-left: 10px;
}
.doubleLine1{
    width: 5%;
    margin-right: 10px;
}
.special article p:first-child{
    font-family: 'Playball', cursive;
    font-size: 16px;
    color: black;
}
.from h6{
    color: #d25513;
    font-family: 'Playball', cursive;
    font-size: 20px;
    margin-top: 40px;
}
.from h5{
    font-family: 'PT Sans', sans-serif;
    font-size: 24px;
    margin-left: 50px;
}
.media-body{
    display: block;
}
.media-left{
    display: block;
}
.media-body h4{
    color: black;
    font-family: 'PT Serif', serif;
    margin-top: 20px;
}
.media-object{
    margin-left: 120px;
}
.media-body span{
    margin-left: 100px;
}
.media-body p{
    margin-top: 20px;
}
.deals h4{
    font-family: 'Playball', cursive;
    font-size: 35px;
}
.deals span{
    margin-left: 10px;
    margin-right: 10px;
}
.deals p{
    color: black;
}
.deals p b, strong {
    font-weight: 500;
}
.deals .img-responsive{
    margin-left: 130px;
    margin-top: 30px;
}